In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
path = '../data/'
file = 'airport-codes.csv'
df = pd.read_csv(path+file)
df

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"40.07080078125, -74.93360137939453"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"38.704022, -101.473911"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"59.947733, -151.692524"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"34.86479949951172, -86.77030181884766"
4,00AN,small_airport,Katmai Lodge Airport,80.0,NaN,US,US-AK,King Salmon,00AN,NaN,00AN,"59.093287, -156.456699"
...,...,...,...,...,...,...,...,...,...,...,...,...
75843,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"51.894444, 1.4825"
75844,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"-11.584277777799999, 47.296388888900005"
75845,ZZ-0003,small_airport,Fainting Goat Airport,690.0,NaN,US,US-TX,Blum,87TX,NaN,87TX,"32.110587, -97.356312"
75846,ZZZW,closed,Scandium City Heliport,4.0,NaN,CA,CA-YT,(Old) Scandium City,NaN,NaN,NaN,"69.355287, -138.93931"
75847,ZZZZ,small_airport,Satsuma Iōjima Airport,338.0,AS,JP,JP-46,Mishima,RJX7,NaN,RJX7,"30.784722, 130.270556"

In [4]:
df.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [9]:
df = df[df.type.isin(['medium_airport', 'large_airport'])]

In [14]:
df.name.value_counts()

Newcastle Airport                             3
La Florida Airport                            2
Faro Airport                                  2
Cochrane Airport                              2
Pemba Airport                                 2
                                             ..
Groton New London Airport                     1
Gainesville Regional Airport                  1
Greenville Downtown Airport                   1
Scholes International At Galveston Airport    1
Shenyang Dongta Airport                       1
Name: name, Length: 5204, dtype: int64

In [15]:
df['name'].str.contains('Memmingen', na=False).value_counts()

False    5215
True        1
Name: name, dtype: int64

In [19]:
df[df.iata_code=='MUC']

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
21771,EDDM,large_airport,Munich Airport,1487.0,EU,DE,DE-BY,Munich,EDDM,MUC,NaN,"48.353802, 11.7861"

In [23]:
df[df['continent'] == 'EU'][['iata_code', 'name']]

      iata_code                          name
13631       JAM               Bezmer Air Base
13718       AEY              Akureyri Airport
13729       EGS           Egilsstaðir Airport
13745       HFN          Hornafjörður Airport
13749       HZK               Húsavík Airport
...         ...                           ...
73020       NaN             Soltsy-2 Air Base
73022       NaN  Severomorsk-3 Naval Air Base
73024       NaN       Fedotovo Naval Air Base
73132       LNX        Smolensk North Airport
73135       NaN           Rtishchevo Air Base

[1034 rows x 2 columns]